<a href="https://colab.research.google.com/github/SuryARavichan/PYTHON-FOR-DATA-SCIENCE-BDA-/blob/main/Copy_of_Session8_ANOVA_Calculations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Analysis of variance (ANOVA)

ANOVA is a hypothesis testing technique tests the equality of two or more population means by examining the variances of samples that are taken.

ANOVA tests the general rather than specific differences among means.

In [ ]:
A=[30,40,50,60] 
B=[25,30,50,55]
C=[25,30,40,45]
D=[43,45,45,47] 
E=[37,40,40,43]
F=[34,35,35,36]

In [ ]:
#within sample variability for A,B,C
(3*np.var(A,ddof=1)+3*np.var(B,ddof=1)+3*np.var(C,ddof=1))/(12-3)

155.55555555555554

In [ ]:
#within sample variability for D,E,F
(3*np.var(D,ddof=1)+3*np.var(E,ddof=1)+3*np.var(F,ddof=1))/(12-3)

3.111111111111111

In [ ]:
F_stat_abc=100/155.55
F_stat_abc

0.6428801028608164

In [ ]:
F_stat_def=100/3.111
F_stat_def

32.14400514304082

In [ ]:
from scipy.stats import f_oneway

In [ ]:
f_oneway(A,B,C)

F_onewayResult(statistic=0.6428571428571429, pvalue=0.5483227164089495)

In [ ]:
f_oneway(D,E,F)

F_onewayResult(statistic=32.14285714285714, pvalue=7.970844367886858e-05)

In [ ]:
G1_df=pd.DataFrame()
df1=pd.DataFrame({'group':'A','age':[30,40,50,60]})
df2=pd.DataFrame({'group':'B','age':[25,30,50,55]})
df3=pd.DataFrame({'group':'C','age':[25,30,40,45]})
G1_df=G1_df.append(df1)
G1_df=G1_df.append(df2)
G1_df=G1_df.append(df3)

In [ ]:
G1_df

  group  age
0     A   30
1     A   40
2     A   50
3     A   60
0     B   25
1     B   30
2     B   50
3     B   55
0     C   25
1     C   30
2     C   40
3     C   45

In [ ]:
from   statsmodels.formula.api import ols
from   statsmodels.stats.anova import anova_lm

In [ ]:
m1 = ols('age ~ group', data = G1_df).fit()
aov_table = anova_lm(m1, typ=1)
print(aov_table)

           df  sum_sq     mean_sq         F    PR(>F)
group     2.0   200.0  100.000000  0.642857  0.548323
Residual  9.0  1400.0  155.555556       NaN       NaN

In [ ]:
G2_df=pd.DataFrame()
Df1=pd.DataFrame({'group':'D','age':[43,45,45,47]})
Df2=pd.DataFrame({'group':'E','age':[37,40,40,43]})
Df3=pd.DataFrame({'group':'F','age':[34,35,35,36]})
G2_df=G2_df.append(Df1)
G2_df=G2_df.append(Df2)
G2_df=G2_df.append(Df3)

In [ ]:
G2_df

  group  age
0     D   43
1     D   45
2     D   45
3     D   47
0     E   37
1     E   40
2     E   40
3     E   43
0     F   34
1     F   35
2     F   35
3     F   36

In [ ]:
mod = ols('age ~ group', data = G2_df).fit()
aov_table =anova_lm(mod, typ=1)
print(aov_table)

           df  sum_sq     mean_sq          F   PR(>F)
group     2.0   200.0  100.000000  32.142857  0.00008
Residual  9.0    28.0    3.111111        NaN      NaN

In [ ]:
oa=(np.sum(A)+np.sum(B)+np.sum(C))/12
oa

40.0

In [ ]:
oa=(np.sum(D)+np.sum(E)+np.sum(F))/12
oa

40.0

In [ ]:
Abar=np.mean(A)
Bbar=np.mean(B)
Cbar=np.mean(C)
Dbar=np.mean(D)
Ebar=np.mean(E)
Fbar=np.mean(F)

In [ ]:
Avar=np.var(A,ddof=1)
Bvar=np.var(B,ddof=1)
Cvar=np.var(C,ddof=1)
Dvar=np.var(D,ddof=1)
Evar=np.var(E,ddof=1)
Fvar=np.var(F,ddof=1)

In [ ]:
#MSTR Calculation (between sample variability)
sstr=len(A)*(Abar-oa)**2+len(B)*(Bbar-oa)**2+len(C)*(Cbar-oa)**2
sstr

200.0

In [ ]:
#MSTR Calculation (between sample variability)
sstr=len(D)*(Dbar-oa)**2+len(E)*(Ebar-oa)**2+len(F)*(Fbar-oa)**2
sstr

200.0

In [ ]:
df1=3-1
mstr=sstr/df1
mstr

100.0

In [ ]:
#MSE Calculation (within sample variability)
#Within Sample Variability (MSE)=SSE/dof             
sse=(len(A)-1)*Avar+(len(B)-1)*Bvar+(len(C)-1)*Cvar
df2=12-3
print(sse)
print(df2)
sse/df2

1400.0
9

155.55555555555554

In [ ]:
F_abc=100/155.55555555555554
F_abc

0.6428571428571429

In [ ]:
#MSE Calculation (within sample variability)
#Within Sample Variability (MSE)=SSE/dof             
sse=(len(D)-1)*Dvar+(len(E)-1)*Evar+(len(F)-1)*Fvar
df2=12-3
print(sse)
print(df2)
sse/df2

28.0
9

3.111111111111111

In [ ]:
F_def=100/3.1111111111
F_def

32.14285714297194

In [ ]:
f_oneway(A,B,C)

F_onewayResult(statistic=0.6428571428571429, pvalue=0.5483227164089495)

[9, 6, 37, 24, 1, 59, 36, 88, 66, 38]

In [ ]:
f_oneway(D,E,F)

F_onewayResult(statistic=32.14285714285714, pvalue=7.970844367886858e-05)