<a href="https://colab.research.google.com/github/SuryARavichan/PYTHON-FOR-DATA-SCIENCE-BDA-/blob/main/PDS_Revision4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],columns=['d', 'a', 'b', 'c'])
df

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [ ]:
#1. Sort the above data frame by row index

In [ ]:
df.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [ ]:
#2. Sort the above data frame by column names

In [ ]:
df.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [ ]:
#3.Sort the above data frame by column names in descending order

In [ ]:
df.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [ ]:
df2 = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
df2

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [ ]:
#4. Sort the above data frame based on the values of column 'b'

In [ ]:
df2.sort_values(by='b')

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [ ]:
df3 = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df3

          0         1         2
a -0.271275  0.827666 -0.823493
a  0.376717  0.271289 -0.941835
b  0.074677  0.435863  0.683738
b  0.806964  0.784269  0.867802

In [ ]:
#5 Check the duplicate index in the DF and reset the index

In [ ]:
df3.index.is_unique

False

In [ ]:
df3.index.value_counts()

a    2
b    2
dtype: int64

In [ ]:
df3.loc['b']

          0         1         2
b  1.698737  1.844435 -0.908736
b -1.161187 -1.180193 -0.262299

In [ ]:
df3.reset_index()

  index         0         1         2
0     a -0.271275  0.827666 -0.823493
1     a  0.376717  0.271289 -0.941835
2     b  0.074677  0.435863  0.683738
3     b  0.806964  0.784269  0.867802

In [ ]:
df3

          0         1         2
a -0.271275  0.827666 -0.823493
a  0.376717  0.271289 -0.941835
b  0.074677  0.435863  0.683738
b  0.806964  0.784269  0.867802

In [ ]:
df4 = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],[np.nan, np.nan], [0.75, -1.3]],index=['a', 'b', 'c', 'd'],columns=['one', 'two'])
df4

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [ ]:
#6 Compute the columnwise sum ignoring NaN

In [ ]:
df4.sum()

one    9.25
two   -5.80
dtype: float64

In [ ]:
#7 Compute the rowwise sum ignoring NaN

In [ ]:
df4.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [ ]:
#8 Compute the rowwise sum (if any one entry or both the entries are NaN) don't perform the computation

In [ ]:
s=df4.sum(axis=1,skipna=False)
s

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [ ]:
#9. For the above calculation return the index with maximum value

In [ ]:
s.idxmax()

'b'

In [ ]:
df5 = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],[np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])
df5

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
#10. For the above DF drop the row containing all NaN

In [ ]:
df5.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
np.random.seed(0)
df6 = pd.DataFrame(np.random.randn(7, 3))
df6

          0         1         2
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
2  0.950088 -0.151357 -0.103219
3  0.410599  0.144044  1.454274
4  0.761038  0.121675  0.443863
5  0.333674  1.494079 -0.205158
6  0.313068 -0.854096 -2.552990

In [ ]:
df6.iloc[:4, 1] = np.nan; df6.iloc[:2, 2] = np.nan
df6

          0         1         2
0  1.764052       NaN       NaN
1  2.240893       NaN       NaN
2  0.950088       NaN -0.103219
3  0.410599       NaN  1.454274
4  0.761038  0.121675  0.443863
5  0.333674  1.494079 -0.205158
6  0.313068 -0.854096 -2.552990

In [ ]:
#11 Drop the row containing two or more null values for the above DF

In [ ]:
df6.dropna(thresh=3)  #thresh is the count for non-NA

          0         1         2
4 -1.234442 -0.360750 -0.131320
5 -0.265012 -0.111378 -1.419049
6  1.599896  0.877263  0.796470

In [ ]:
#12. For the df6 DF fill the missing value with '0'

In [ ]:
df6.fillna(0)

          0         1         2
0  0.882867  0.000000  0.000000
1 -0.660486  0.000000  0.000000
2 -0.200202  0.000000  0.095956
3  2.357560  0.000000  0.033491
4 -1.234442 -0.360750 -0.131320
5 -0.265012 -0.111378 -1.419049
6  1.599896  0.877263  0.796470

In [ ]:
#13 For the df6 DF fill missing values with mean values

In [ ]:
df6.fillna(df6.mean())

          0         1         2
0  1.764052  0.253886 -0.192646
1  2.240893  0.253886 -0.192646
2  0.950088  0.253886 -0.103219
3  0.410599  0.253886  1.454274
4  0.761038  0.121675  0.443863
5  0.333674  1.494079 -0.205158
6  0.313068 -0.854096 -2.552990

In [ ]:
#14 for the df6 DF fill column '1' with mean and column '2' with median

In [ ]:
df6.fillna({1:df6[1].mean(),2:df6[2].median()})

          0         1         2
0  1.764052  0.253886 -0.103219
1  2.240893  0.253886 -0.103219
2  0.950088  0.253886 -0.103219
3  0.410599  0.253886  1.454274
4  0.761038  0.121675  0.443863
5  0.333674  1.494079 -0.205158
6  0.313068 -0.854096 -2.552990